body {
    text-align: center;
    background-color: cornsilk;
}
.box {
    background-color: peachpuff;
    color: black;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}
#don {
    background-color: teal;
    color: black;
    font-size: 40px;
}
#intro:hover {
    background-color: rgb(30, 110, 179);
}
div > div:hover {
    background-color: aliceblue;
}
